PORT=3000
NODE_ENV=development

DB_TYPE=postgres
DB_HOST=aws-0-ap-northeast-1.pooler.supabase.com
DB_PORT=5432
DB_USERNAME=postgres.gvisrdqwmnkurqlxvqaq
DB_PASSWORD=YOUR_ACTUAL_PASSWORD_HERE
DB_DATABASE=postgres

JWT_SECRET=your_long_secret_key
JWT_EXPIRES_IN=1d